@import "~bulma/sass/utilities/_all";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&family=Roboto+Mono:wght@300;500&display=swap");

// Set your colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$primary: #bf55ec;
$primary-light: #d5b8ff;
$secondary: $purple;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Update Bulma's global variables
$family-primary: "Jost", sans-serif;
$family-monospace: "Roboto Mono", monospace;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-family: $family-sans-serif;
$body-background-color: $white;
$control-border-width: 0px;
$input-border-color: transparent;
$input-shadow: none;
$radius: 0px;
$radius-small: 0px;
$radius-large: 0px;
$easing: ease-in-out;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~animate.css/animate.min.css";
