@import "./variables";

.kc {
  &-title {
    font-size: 150px;
  }
  &-card {
    background-color: $white;
    border: 5px solid transparent;
    border: 2px solid $black;
    transition: 0.2s all linear;

    &__title {
      font-size: 2rem;
      padding: 1rem;
      margin: auto;
      font-weight: bold;
    }

    &:hover {
      box-shadow: 6px 6px 0px $grey-darker;
    }

    img {
      border-top: 3px solid $black;
      border-bottom: 3px solid $black;
      padding: 1rem;
    }
  }
}

.base_shadow {
  box-shadow: 8px 8px 0px $primary, -8px 0px 0px $primary-light,
    0px -8px 0px $secondary;
}
.kc .br-bottom-secondary {
  border-bottom: 1.5px solid $black;
}
